.venv
.venv/
.pytest_cache
.pytest_cache/
.vscode
.vscode/
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.env.*
.git
.git/
.gitignore
.mypy_cache
.mypy_cache/
.ruff_cache
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info
.idea
.idea/
.ipynb_checkpoints/
*.log
*.sqlite3